<div class="p-4 sm:p-6 md:p-8 bg-slate-50 scroll-purple flex flex-col">

  <!-- Modal de procesamiento de orden -->
   <div *ngIf="isProcessing" class="fixed inset-0 bg-black/40 flex items-center justify-center z-1000">
    <app-create-order-modal
      [order]="orderToProcess"
      (close)="isProcessing = false"
      (processOrder)="handleProcessOrder($event); isProcessing = false"
    ></app-create-order-modal>
  </div>

  <h1 class="text-2xl text-transparent flex gap-2 bg-clip-text bg-gradient-to-r from-purple-600 to-orange-800 font-bold mb-4">
    <span class="hidden: md:block">Gestión de</span> Órdenes
  </h1>

  <app-order-filter
    [filters]="filters"
    [resumen]="resumen"
    (filtersChange)="handleFilterChange($event)"
    (clearFilters)="handleClearFilters()"
  ></app-order-filter>

  <div class="flex-1 overflow-y-auto space-y-4 pr-2">
    <app-order-card
      *ngFor="let order of filteredOrders"
      [order]="order"
      (markAsPaid)="processOrder($event)"
      (edit)="handleEditOrder(order)"
      (view)="handleViewOrder(order)"
      (delete)="handleDeleteOrder(order)"
    ></app-order-card>
  </div>

  <app-view-order-modal
    *ngIf="orderToView"
    [order]="orderToView"
    (close)="orderToView = null"
  ></app-view-order-modal>
</div>
