<div class="bg-white z-60 w-screen px-6 py-4 shadow-md">

  <!-- Logo y barra de búsqueda con el input de búsqueda -->
  <div class="grid lg:flex">
    <!-- Logo -->
    <div class="flex items-center justify-between transition-opacity ease-in-out mr-2 ">
      <a routerLink="/">
        <img src="logo.png" alt="Advance Technology Projects" class="h-8 lg:h-11" />
      </a>
      <div class="flex md:hidden items-center gap-2">

        <svg routerLink="/productos/chat" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
        </svg>

        <svg routerLink="/" class="text-slate-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
        </svg>

        <p *ngIf="!islogged" routerLink="/in" class=" flex items-center justify-center bg-purple-500 p-2 w-20 rounded-2xl text-center text-white hover:cursor-pointer hover:bg-purple-700 text-sm">Login</p>

        <p *ngIf="islogged" (click)="onSignOut()" class=" flex gap-2 items-center justify-center bg-purple-500 p-2 w-20 rounded-2xl text-center text-white hover:cursor-pointer hover:bg-purple-700 text-sm">Salir 
          <fa-icon [icon]="faSignOut"></fa-icon>
        </p>

      </div>
    </div>
    <!-- input -->
    <div class="container my-2 mx-auto max-w-4xl">
      <div class="relative">
        <input type="text" [(ngModel)]="searchTerm" (input)="filterProducts()" (focus)="onInputFocus()"
          (blur)="onInputBlur()" placeholder="{{welcomeMessage()}}"
          class="w-full px-6 py-4 rounded-full border border-purple-300 shadow-md shadow-purple-100 focus:border-purple-500 focus:ring-2 focus:ring-purple-200 text-lg outline-none" />
        <fa-icon [icon]="faSearch"
          class="absolute right-6 top-1/2 transform -translate-y-1/2 text-purple-500 text-xl"></fa-icon>
      </div>
    </div>

    <div class="xl:flex items-center text-slate-500 hidden gap-2">
      <!-- <fa-icon [icon]="faChat" class="text-slate-500 lg:text-2xl"></fa-icon> -->
      <!-- <fa-icon [icon]="faHome" routerLink="/" class="text-slate-500 hover:text-purple-500 cursor-pointer lg:text-2xl"
        title="Regresar al inicio"></fa-icon> -->
      <svg routerLink="/productos/chat" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
      </svg>

      <svg routerLink="/" class="text-slate-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
      </svg>

        <p *ngIf="!islogged" routerLink="/in" class=" flex items-center justify-center bg-purple-500 p-2 w-20 rounded-2xl text-center text-white hover:cursor-pointer hover:bg-purple-700 text-sm">Login</p>

        <p *ngIf="islogged" (click)="onSignOut()" class=" flex gap-2 items-center justify-center bg-purple-500 p-2 w-20 rounded-2xl text-center text-white hover:cursor-pointer hover:bg-purple-700 text-sm">Salir 
          <fa-icon [icon]="faSignOut"></fa-icon>
        </p>
    </div>
  </div>

  <!-- Navigation all categories and marks and more -->
  <div class="px-2 flex gap-1 justify-between items-center">
    <div class="flex items-center gap-4">
      <div class="flex items-center gap-1 text-slate-800 hover:text-purple-500">
        <fa-icon [icon]="faBars" class="text-sm hover:cursor-pointer" (click)="onMenucategories()"></fa-icon>
        <h1 (click)="onMenucategories()" class="text-sm hover:text-purple-500 hover:cursor-pointer">
          Categorias
        </h1>
      </div>
      <div class="flex items-center gap-1 text-slate-800 hover:text-purple-500">
        <fa-icon [icon]="faLayerGroup" class="text-sm hover:cursor-pointer" (click)="onMenuBrands()"></fa-icon>
        <h1 (click)="onMenuBrands()" class="text-sm hover:text-purple-500 hover:cursor-pointer">
          Marcas
        </h1>
      </div>
      <button *ngIf="islogged"
        class="text-slate-800 bg-purple-50 rounded-full text-sm hover:text-purple-500 hover:cursor-pointer p-2"
        (click)="onShowOrders()">
        <fa-icon [icon]="faShop"></fa-icon>
        Ver Ordenes
      </button>
    </div>


    <div class="items-center lg:flex">
      <app-trm></app-trm>
    </div>
  </div>

  <!-- //sugerencias con filtros funcionales -->
  <div *ngIf="inputFocused" (mouseenter)="onMouseEnterSuggestions()" (mouseleave)="onMouseLeaveSuggestions()"
    class="h-90 animate__animated animate__fadeIn bg-purple-50 rounded-2xl scroll-purple">

    <div class="relative rounded-2xl m-2">
      <button (click)="scrollFavorites('left')"
        class="absolute left-2 top-1/2 -translate-y-1/2 z-10 bg-purple-100 rounded-full shadow-md hover:bg-gray-100 p-2">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </button>

      <cdk-virtual-scroll-viewport #favoritesContainer class="w-full h-[340px] my-4 gap-4" orientation="horizontal"
        itemSize="250">
        <div class="flex items-center gap-4">
          <div *cdkVirtualFor="let producto of productos; trackBy: trackByIndex"
            class="bg-white rounded-xl m-2 shadow overflow-hidden h-75 transform transition-transform hover:scale-101 flex flex-col min-w-xs relative">
            <img [src]="producto.imagen || 'logo.png' | sanitizeImageUrl" [alt]="producto.nombre"
              class="w-full h-28 object-contain p-4" />

            <div class="absolute top-2 right-2 z-10">
              <div class="bg-white rounded-2xl p-2 inline-flex items-center justify-center">
                <img [src]="'assets/logos/'+producto.marca.toLocaleLowerCase().trim() + '.png' | sanitizeImageUrl"
                  [alt]="'Marca: ' + producto.marca" class="h-12 w-auto object-contain" />
              </div>
            </div>

            <div class="p-4 flex flex-col flex-grow">
              <h2 class="text-md md:text-md font-semibold text-gray-800 mb-2 line-clamp-2">
                {{ producto.nombre }}
              </h2>
              <p class="text-gray-600 text-xs line-clamp-2 h-8">
                {{ producto.descripcion }}
              </p>

              <div class="flex gap-4 my-2">
                <span class="text-orange-700 text-xs font-semibold px-2 py-1 rounded-full inline-flex items-center">
                  <fa-icon [icon]="faLayerGroup"></fa-icon>
                  {{ producto.categoria | sanitizeImageUrl }}
                </span>
              </div>
              <div class="flex flex-wrap gap-2">
                <span *ngFor="let tag of producto.etiquetas"
                  class="bg-purple-100 text-purple-700 text-xs font-semibold px-2 py-1 rounded-full">
                  <fa-icon [icon]="faTag"></fa-icon>
                  {{ tag }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>

      <button (click)="scrollFavorites('right')"
        class="absolute right-2 top-1/2 -translate-y-1/2 z-10 bg-purple-100 rounded-full p-2 shadow-md hover:bg-gray-100">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </button>
    </div>
  </div>


</div>
