<div
  class="w-80 h-[100dvh] bg-white shadow-xl rounded-lg overflow-hidden font-sans animate__animated animate__fadeInLeft animate__faster">
  <!-- Logo -->
  <div class="flex p-4 items-center border-b">
    <img src="logo.png" alt="Advance Technology Projects" class="h-10" />
  </div>

  <div class="relative w-full h-[calc(100vh-70px)]">
    <div class="absolute w-full h-full p-4 overflow-y-auto">
      <h2 class="text-xl font-bold text-purple-700 mb-4">Marcas</h2>
      <ul class="space-y-3">
        <li *ngFor="let brand of brands"
          class="flex items-center justify-between p-3 bg-gray-50 hover:bg-purple-100 rounded-lg cursor-pointer transition-colors"
          (click)="navigateToBrand(brand)">

          <!-- Nombre de la marca -->
          <span class="flex items-center font-medium text-gray-800">
            <!-- <fa-icon [icon]="faTags" class="mr-3 text-purple-600"></fa-icon> -->
             <img class="h-10 object-contain w-12" src="https://advanceit.co/assets/logos/{{ brand.name | lowercase }}.png" alt="logo {{ brand.name | titlecase }}">
            {{ brand.name | titlecase }}
          </span>

          <!-- Badge de cantidad -->
          <span class="px-3 py-1 text-xs font-semibold rounded-full bg-purple-100 text-purple-700">
            {{ brand.quantity }}
          </span>
        </li>
      </ul>
      <p (click)="onRequestBrand()" class="text-center text-gray-500 mt-4 text-xs underline hover:text-purple-500 hover:cursor-pointer">Quiero una marca que no está aquí</p>

    </div>
  </div>

</div>
