<div class="bg-gray-100">
  <header class="px-6 py-4">

    <app-header-crud titulo="Cotizaciones" descripcion="Gestiona todas tus cotizaciones desde este panel." textoBotonNuevo="Cotizar" (crear)="openCreateQuotation()"
      (openCreate)="openCreateQuotation()" (filterChange)="filterQuotations($event)" [filterByStatus]="true"
      [filterStatusValues]="['sent', 'approved', 'rejected', 'expired']" (clearFilters)="filterQuotations({ texto: '', estado: '' })" (actualizar)="loadQuotations()"
      [showViewToggle]="true" [currentView]="viewMode()" (viewChange)="onViewChange($event)"></app-header-crud>
  </header>

  <app-quotation-list [quotations]="quotations()" [externalView]="viewMode()" (openDetails)="openDetailsModal($event)" (openEdit)="openEditModal($event)"
    (refreshList)="loadQuotations()"></app-quotation-list>
</div>
